/* @import './index.scss'; */
/* @import './test.css'; */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #000;
}
#root {
  color: #000;
  background: #ccc;
}
.title {
  width: 100%;
}
img {
  width: 30px;
  height: 30px;
}
.style {
  color: #999;
}
.doc {
  background: red
}
.style {
  color: #666;
}
.dc {
  color: #ccc
}
.dd {
  color: #000;
}